.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

@media (max-width: 768px) {
  .app-container {
    height: 100%;
    width: 100%;
  }
}
